<header class="ui center aligned container">
    <div class="ui sizer vertical segment">
        <div class="ui huge dividing header">Sorted by Category</div>
        <p></p>
    </div>
</header>
<main class="ui center aligned container">

    <div class="ui four cards">
        <div class="ui stackable four column grid">
            {{#each food}}
            <div class="column">
                <div id=""
            </div>
        </div>
    </div>
</main>