<section class="box">
  <h2 class="is-size-2 center-text">Create New Post</h2>

  <form class="new-post-form">
    {{!-- Title --}}
    <div>
      <label for="post-title" class="label">Title of your post</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    {{!-- Website Link  --}}
    <div>
      <label for="post-url" class="label">Website/Link to the foodie?</label>
      <input id="post-url" name="post-url" />
    </div>

    {{!-- Image Uploader --}}
    <div class="field" enctype="multipart/form-data">
        <div class="ui action input">
            <input type="file" name="userImg" id="userImg">
        </div>
    </div>

    {{!-- Drop Down Categories  --}}
    {{!-- <div class="field">
        <select id="categories" class="ui inverted dropdown">
            <option value="">Categories</option>
            <option id="post-category" class="food" value="recipes">Recipes</option>
            <option id="post-category" class="food" value="restaurants">Restaurants</option>
            <option id="post-category" class="food" value="bar-breweries">Bars/Breweries</option>
            <option id="post-category"class="food" value="drinks">Drinks</option>
        </select>
    </div> --}}

    <button type="submit" class="btn button is-primary">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2 class="is-size-2 center-text">Your Posts</h2>
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link box">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>