<section class="box">
  <h2 class="is-size-2 center-text">Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title" class="label">Headline of your post</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url" class="label">Website/Link to the foodie?</label>
      <input id="post-url" name="post-url" />
    </div>
    <input type="file" id="image_input" accept="image/png, image/jpg"> </input>
{{!-- I never finished, but this is where the image uploader would go --}}
    <div id="display_image"></div>

    <button type="submit" class="btn button is-primary">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>