<section class="box">
  <h2 class="is-size-2 center-text">Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title" class="label">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url" class="label">Webpage/Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <div class="control is-loading">
      <label for="text" class="label">Description</label>
      <textarea id="text" name="text" class="Loading textarea" /></textarea>
    </div>
    <div class="action input"> 
    <label for="postImage"></label>
    <input type="file" name="postImage" id="imageFile" />
    </div>
    <button type="submit" class="btn button is-primary">Create</button>
  </form>
</section>

{{#if posts.length}}
<section class="box">
  <h2 class="is-size-2 center-text">Your Posts</h2>
  <ul class="box">
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link box">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
